{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           org.suskalo/coffi   {:mvn/version "1.0.486"}}
 :aliases {:aliases
           {:dev {:jvm-opts ["--enable-native-access=ALL-UNNAMED"]}}}}
